@import '../index.css';
@import url('./Variables');


:root {
    // main colors 

    --bodyBackground: radial-gradient(50% 50% at 50% 50%, #491F46 0%, #3C183B 100%);
    --logoBackground: #60BFCD;
    --btnBackground: linear-gradient(90deg, #678ACC 0%, #689DB2 100%);
    --cardBackground: linear-gradient(180deg, #371339 33.75%, #502751 100%);
    --textColorOne: #E1B3EF;
    --textColorTwo: #B59774;
    --textBackground: linear-gradient(270deg, #678ACC 0%, #689DB2 100%);
    --cardBackgroundTwo: radial-gradient(50% 167.48% at 50% 50%, #532B5F 0%, #452D67 100%);
    --colorIcon: #552277;

    // spacing

    --fontContent: 10px;
    --fontBody: 16px;

  }

