@import url('./Fonts');

// Fonts Styles

@font_1: 'UbuntuBold';
@font_2: 'UbuntuBoldItalic';
@font_3: 'UbuntuItalic';
@font_4: 'UbuntuRegular';
@font_5: 'IncosolataBold';
@font_6: 'IncosolataBlack';
@font_7: 'IncosolataLigth';


// Shadow 

@TextShadow: 3px 3px 10px;

// Mixins

.bgImage {
    -webkit-background-position: center;
    -o-background-position: center;
    -ms-background-position: center;
    -moz-background-position: center;
    background-position: center;
    -webkit-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}



.primary {
    background-image: var(--btnBackground);
    border: none;
    border-radius: 5rem;
    text-align: center;
    color: aliceblue;
    &:hover {
        background-image: linear-gradient(90deg, #689DB2 0%,  #678ACC 100%);
    }
}


.secondary {
    cursor: pointer;
    background-color: rgba(225, 179, 239, 0.2);
    backdrop-filter: blur(15px);
    text-align: center;
    border: none;
    border-radius: 5rem;
    &:hover {
        backdrop-filter: none;
        background-color: rgba(117, 59, 139, 1);
    }
}

// Media Queries

@desktop: 1200px;
@laptop: 990px;
@tablet: 768px;
@mobil: 480px;
@mobil-landscape: 860px;
@mobil-sm: 390px;
@mobil-sm-landscape: 650px;